{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <h2>Log in</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {{ form.username|as_crispy_field }}
    {{ form.password|as_crispy_field }}
    <button type="submit" class="w-100 btn btn-outline-info">Log in</button>
  </form>

  <p class="d-flex justify-content-center mt-4 mb-1">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>

{% endblock %}
